:host {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

mat-card {
   background-color: #333333;
   border: none;
   border-radius: 1rem;
   width: 30%;
}

.cut-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #D45161;
   color: white !important;
   font-weight: 400 !important;
   height: 24px;
   margin-right: 1rem;
}

.search-btn {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   background-color: #D45161;
   color: black;
   padding: 0.5rem 0.6rem;
   border-radius: 0.5rem;
   transition: 0.1s ease-in-out;
}