# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs and editors
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Angular specific files
.angular/cache
.angular/cli
.angular/compiler

# Optional npm cache directory
.npm

# Environment variables
/.env

# macOS files
.DS_Store

# Windows system files
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional REPL history
.node_repl_history

# Test coverage
/coverage

# Temporary files
*.tmp
*.temp

# Output of 'ng build' command
/build

# Debug and diagnostic files
/stacktrace.txt
*.stackdump

# Specific configuration files
*.env
*.local

# Temporary files created by npm link
*.tgz

# Firebase cache
.firebase/

# AWS SAM build folder
/.aws-sam

# Netlify build folder
/netlify

# Optional eslint cache
.eslintcache

# Compiled TypeScript files
*.tsbuildinfo

# Ignore the e2e and test results
/e2e/*.log
/test-results/

# Windows 10 (WSL2) Networked drives
.wslconfig

# JetBrains Rider
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf/
.idea/**/contentModel.xml
.idea/**/deployment.xml
.idea/**/docker.xml
.idea/**/rsync.xml
.idea/**/databaseDrivers.xml
.idea/**/webServers.xml
.idea/**/gradle.xml
.idea/**/markdown-navigator.xml
.idea/**/runConfigurations
.idea/**/git.xml
.idea/**/vcs.xml
.idea/**/xml_browsing.xml
.idea/**/docker-compose.xml

# NetBeans
nbproject/private/

# Visual Studio Code - Session workspace storage
.vscode/sessions/

# Visual Studio Code - File based sessions
.vscode/workspaceStorage/

# Optional yarn cache directory
.pnp

# Parcel cache
.cache
.parcel-cache

# Storybook files
.out

# Nativescript
node_modules/
platforms/
hooks/
runtime/

# Expo
.expo/
.expo-shared/

# Gatsby files
.cache/
public/

# Next.js files
.next/
out/
